{% extends 'app/base.html' %}

{% load static %} 

{% block js %} 
<script src="{% static 'app/js/menu.js' %}"></script>
<script>
    $(document).ready(function() {
      $('.slider').bxSlider({
          mode: 'fade',//horizontal, vertical, fade
          auto: true,
          pause: 2000
      });
    });
</script>
{% endblock %}



{% block contenido %}

<center>
    <div class="terminosparrafo">
    <p><b>Entre el cliente y/o usuario, quien actúa directamente, si es una persona natural o por medio de una persona debidamente facultada 
        para actuar en nombre y representación, en caso de ser una persona jurídica, y de otro lado INVERSIONES IKLAN S.A.S., sociedad
         comercial debidamente constituida bajo las leyes colombianas, que cuenta con un sitio web www.Iklan_anuncios.com celebran el 
         presente contrato de conformidad con los términos y condiciones exigidos por la ley colombiana.
        La información y datos personales suministrados por el cliente, consumidor, o cualquier usuario, se presume autentico y veraz.<br><br>


       En caso de tratarse de una persona jurídica, natural o actuar en nombre o representación de un tercero, el suscriptor declara que está
        legalmente facultado para actuar en nombre y representación del tercero manteniendo indemne a INVERSIONES IKLAN S.A.S. de cualquier 
        responsabilidad por suplantación personal que realice cualquier cliente y/o usuario.<br><br>


       PARÁGRAFO PRIMERO:  Para realizar cualquier compra, es requisito esencial registrarse, identificarse y presentarse como usuario en la 
            página web, actividades que se realizan por medio de una cuenta de correo electrónico y una clave secreta del cliente, la cual es de 
            carácter personal, intransferible y de responsabilidad exclusiva y excluyente del cliente. <br><br>


      PARÁGRAFO SEGUNDO:    responsabilidad del cliente cualquier uso que de la clave suministrada se realice, la cual no podrá ser transferida
         o revelada a terceros bajo ningún motivo. Así mismo, el cliente deberá adoptar todas las medidas de seguridad necesarias para evitar el
          mal uso o el conocimiento de esta por parte de terceros. Se recomienda efectuar el cambio de clave de manera periódica.<br><br>



       PARÁGRAFO TERCERO:  En caso de pérdida, olvido o exposición a terceros de la clave, deberá remitirse a la sección de autenticación del sitio
         en donde hay un link recordar contraseña, en donde siguiendo las instrucciones, el cliente podrá recuperar su contraseña, a través de su 
         correo electrónico o cambiar la clave. Si por algún motivo no logra solucionar el inconveniente debe escribir al e-mail: infoIklan_anuncio@gmail.com
        </b></p>        
    </div>
</center>

{% endblock %}