* {
    margin:0;
    padding:0;
}


body{
    background-color:#fef7e5
    ;
    font-family: 'Open Sans', sans-serif;
}




.logo{
    height: 100px;
    width: 100px;
}


/*Menu principal*/

nav li img{

 border-radius: 52%;

}
nav li a img{
    width: 70px;
    border-radius: 52%;
   
   }

nav ul{
	min-height:50px;
	margin:0;
	padding:0;
	line-height:31px;
	width:100%;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
    position: fixed;
    background-color: #934f39;
    z-index: 100;

}

nav ul li{
	list-style:none;
}

nav ul li a{
    font-weight: bold;
    color: #000;
	text-decoration:none;
	padding:7px 14px;
    border-radius:8px;
}

nav li ul {
    display:none;
    position:absolute;
    
}

nav li:hover > ul {
    display:block;
    width: 200px;
    border-radius: 12px;
}

nav li ul li {
    position:relative;
}

nav ul li a:hover{
	color:#fef7e5;
    box-shadow: 0 0 20px #fef7e5
    ;
}


nav ul img:hover{

    box-shadow: 0 0 50px #fef7e5;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    border-radius: 50%;
}



/*TITULO EN EL HOME (PRODUCTOS)*/
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform:uppercase;
	text-shadow:10px 10px 4px #CCCCCC;
    transition: 1s;  
}

h1:hover{
    transform: scale(1.2);
}

/*PRODUCTOS DEL HOME*/
/*CONTENIDO PRINCIPAL*/

#contenido {
    width: 80%;
    margin:auto;
    max-width: 1280px;
    min-height: 100vh;
}

.anuncios {
    display: flex;
    flex-wrap: wrap;
    font: 1em sans-serif; 
    align-content: center; 
    
}

.anuncios ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    
    }
   
.anuncios  li {
   position: relative;
   float: left;
   width: 350px;
   height: 270px;
   overflow: hidden;
   margin: 0 15px 15px 0;
   box-shadow: 0 0 10px #934f39;
   }
.anuncios img{
    width: 350px;
    height: 270px;
    

    

}

.anuncios a img{
    width: 30px;
    height: 35px;
}


.anuncios .info {
    display: none;
    position: absolute;
    bottom: 0;
    z-index: 10;
    background:  rgba(0, 0, 0, 0.9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);
    width: 100% ;
    height: 100%;
    color: #934f39;
    padding: 10px;
    border: solid #934f39;
    overflow:auto;
    
   }
 
.anuncios li:hover .info {
   display: block;
   
   }


/*footer*/
.footer{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    
    width: 100%;
    color: white;
    background-color:#934f39;
    left: 5%;
    
  }
  
  .redes{
      grid-column:1;
      color:black;
      text-decoration:none;
  }
  
  .redes a{
      text-decoration:none;
      margin-left: 20%;
      color: black;
    
      
  }
  .redes a img :hover{
    box-shadow: 0 0 20px black;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
  
  .terminos{
      grid-column:2;
      color:black;
      text-align: center;
  }
  .terminos h3 a {
      color: black;
      text-decoration: none;
  }
  
  .contactanos{
      grid-column:3;
      color:blablckck;
      text-align: center;
  }
  .contactanos a{
      color: black;
      text-decoration:none;
  }  

  .terminosparrafo {

      color:#000;
      text-align: center;
      width: 850px;
      height: 300px;
  }
  


/*FORMULARIOS*/

/*Imagen de fondo de los formularios*/
#imagenFormularios{
    background: url("../img/formulario.jpeg");
    background-attachment:fixed;
	background-size:cover;
}

/*Formulario Login*/
.cardlogin{
    border-radius: 1rem;
    height: auto;
    border:#fef7e5;
	box-shadow: 0 0 20px #934f39;
}


/*Titulo del formulario*/
#LosFormularios{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform:uppercase;
	text-shadow:10px 10px 4px #934f39;
    transition: 1s;
}

#LosFormularios:hover{
    transform: scale(1.2);
}

/*Boton de ingresar*/
.ingresar{
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn.btn-success{
    font-weight: bold;
    width: 90px;
    color: black;
    border:#fef7e5;
    background-color: #fef7e5;
	box-shadow: 0 0 20px #934f39;
}

.btn.btn-success:hover{
    background-color: #fef7e5;
    border-color: #934f39;
}

/*boton continuar con facebook*/
.facebook{
    display: flex;
    justify-content: center;
    align-content: center;
}

.facebook a{
    font-weight: bold;
    border:#fef7e5;
    background-color: #fef7e5;
	box-shadow: 0 0 20px #934f39;
    padding: 7px 10px;
    text-decoration: none;
    border-radius: 3px;
}



.facebook a:hover{
    color: white;
    background-color: rgb(160, 167, 231);
}



/*Formulario registro*/
.cardRegistro{
    border-radius: 1rem;
    background-color: tranparent;
    height: auto;
    box-shadow: 0 0 20px #934f39;
}

/*boton de registrarse*/
.registro{
    display: flex;
    justify-content: center;
    align-content: center;
}


.btn.btn-success:hover{
    background-color: #934f39;
    border-color: #934f39;
}

/*Formulario de agregar producto*/
.cardProductoNuevo{
    border-radius: 1rem;
    background-color: transparent;
    height: auto;
    background-color: #fef7e5;
	box-shadow: 0 0 20px #934f39;
}

.productoNuevo{
    display: flex;
    justify-content: center;
    align-content: center;
}

/*Boton enviar*/
.btn.btn-primary-Guardar{
    font-weight: bold;
    width: 90px;
    background-color: rgb(156, 156, 153);
    border-color: #934f39;
}

.btn.btn-primary-Guardar:hover{
    background-color: rgb(194, 194, 194);
    border-color: #934f39;
}

/*Boton cancelar*/
.cancelarProducto{
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn.btn-secondary-Cancelar{
    font-weight: bold;
    width: 90px;
    background-color: rgb(172, 55, 55);
    border-color: #934f39;
}

.btn.btn-secondary-Cancelar:hover{
    background-color: rgb(194, 69, 69);
    border-color: #934f39;
}


/*Formulario modificar producto*/
.cardModificar{
    border-radius: 1rem;
    height: auto;
    background-color: #fef7e5;
	box-shadow: 0 0 20px #934f39;
}

/*Boton de modificar el producto*/
.modificarProducto{
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn.btn-primary-modificar-guar{
    font-weight: bold;
    width: 90px;
    background-color: rgb(156, 156, 153);
    border-color: #934f39;
}

.btn.btn-primary-modificar-guar:hover{
    background-color: rgb(194, 194, 194);
    border-color: #934f39;
}

/*Boton cancelar la modificación del producto*/
.canceModifiProducto{
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn.btn-secondary-modificas-cance{
    font-weight: bold;
    width: 90px;
    background-color: #934f39;
    border-color: #934f39;
}

.btn.btn-secondary-modificas-cance:hover{
    background-color: rgb(194, 69, 69);
    border-color: #934f39;
}

/*Listado de producto*/
.cardListado{
    border-radius: 1rem;
    background-color: #fef7e5;
	box-shadow: 0 0 20px #934f39;
    height: auto;
}

.table>:not(caption)>*>* {
	
    background-color:transparent ;
}


label{
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

label.requiredField{
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 16px; 
}

.text-muted{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

#listaProducto{
    font-size: 18px;
}

* {
    margin:0;
    padding:0;
}

label.error {
    color: rgb(245, 10, 10);
}


header {
    display:flex;
	justify-content:space-around;
	align-items:center;
}

header > div {
    width: 50%;
}


/*FIN FOOTER*/


input[type=text], input[type=email],
input[type=number], select, textarea {

    width: 100%;
    padding: 5px;

}

textarea {
    resize: none;
}



/*MEDIA QUERIES*/


/*Tablets*/
@media (max-width: 1024px) {
    .galeria {
        grid-template-columns: 1fr 1fr;
    }
    .producto {
        width: 50%;
    }

    .formulario_contacto {
        width: 100%;
    }
}

/*Smartphone*/
@media (max-width: 480px) {

    .galeria {
        grid-template-columns: 1fr;
    }

    .menu {
        display:block;
    }

    @keyframes animacion_producto_mobile {
        0% {
            transform: scale(0.1); /*0-1*/
            /*opacity: 0 - 1*/
        }

        80% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }

    .producto {
        width: 100%;
        animation: animacion_producto_mobile 0.8s;
    }

    header {
        flex-direction: column;
        height: 60px;
        overflow: hidden;
        transition: all 0.6s;
       
        
    }
    #contenido {
        margin-top: 60px;
    }

    header > div {
        width: 100%;
    }

    .contenedor_logo {
        justify-content: center;
        margin-top:10px;
    }

    nav {
        justify-content: center;
    }

    nav > ul {
        margin:0;
    }

    nav > ul > li {
        display: block;
        margin:0;
        text-align: center;
        padding:20px 0;
    }

}